doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Página no encontrada | 404
    link(rel='stylesheet', href='./styles/styles.css')

  body.error404
    h1 404
    p ¡Oops! No encontramos la página que buscas.
    a(href="/") Volver al inicio
