doctype html
html(lang="es")
  head
    title Alta de Docente
    link(rel='stylesheet', href='/styles/styles.css')
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")


  body
    h1 Alta de Docente
    if error
      p(style="color: red") #{error}
    if success
      p(style="color: green") #{success}
    form(action="/docente/nuevo" method="POST")
      label(for="nombre") Nombre del Docente:
      input(type="text" name="nombre" required)
      label(for="dni") DNI del Docente:
      input(type="text" name="dni" required)
      br
      button(type="submit") Guardar Docente
    br
    a(href="/") Volver al inicio
    br