doctype html
html(lang="es")
  head
    title Listado de Docentes
    link(rel='stylesheet', href='./styles/styles.css')
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    h1 Listado de Docentes
 
    each docente in docentes
      div
        div(style="border: 1px solid grey; padding: 1rem; margin: 1rem; min-width: 600px") 
          p #{docente.nombre} (#{docente.dni})
          if docente.cursos
            p Cursos:
            ul
              each curso in docente.cursos
                li #{curso}
          else 
            ul
              li No tiene cursos asignados
    br
    a(href="/logout") Cerrar sesión
      br
    a(href="/") Volver al inicio
    br