doctype html
html(lang="es")
  head
    title Alta de Estudiante
    link(rel='stylesheet', href='/styles/styles.css')
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")


  body
    h1 Alta de Estudiante
    if error
      p(style="color: red") #{error}
    if success
      p(style="color: green") #{success}
    form(action="/estudiante/nuevo" method="POST")
      div
        label(for="nombre") Nombre del Estudiante:
        input(type="text" name="nombre" required)
      div
        label(for="dni") DNI del Estudiante:
        input(type="text" name="dni" required)
      br
      button(type="submit") Guardar Estudiante

    br
    a(href="/") Volver al inicio
    br