doctype html
html
  head
    title Información de Estudiante
    link(rel='stylesheet', href='/styles/styles.css')

  body
    h1 Información del Estudiante  
    div
      p Nombre: #{estudiante.nombre}
      p DNI: #{estudiante.dni}