doctype html
html
  head
    title Menú de inicio
    link(rel='stylesheet', href='/styles/styles.css')

  body
    h1 Menú de inicio
    h2 Rol: #{usuario.rol.nombre}
    if usuario.rol.nombre == 'administrador'
      a(href="/docente/nuevo") Alta de docente
      a(href="/docente/lista") Listado de docentes
      a(href="/estudiante/nuevo") Alta de estudiante
      a(href="/estudiante/info") Ver estudiante
      a(href="/carga-notas") Carga de notas
      a(href="/curso/nuevo") Alta de curso
    
    if usuario.rol.nombre == 'docente'
      a(href="/carga-notas") Carga de notas
    
    if usuario.rol.nombre == 'estudiante'
      a(href="/estudiante/info") Ver estudiante
  
    br
    a(href="/logout") Cerrar sesión
